PORT=3010
NODE_ENV=development
DB_URL=mysql://root:root@localhost:3306/api_score
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=replace_with_real_key
API_FOOTBALL_HOST=v3.football.api-sports.io
REQUEST_TIMEOUT_MS=30000
RETRY_MAX=3
RATE_LIMIT_PER_MIN=300
CORS_ENABLED=true
CORS_ORIGIN=*
LIVE_FIXTURES_SYNC_ENABLED=true
LIVE_FIXTURES_SYNC_INTERVAL_MS=30000
SYNC_RATE_LIMIT_HEADROOM_PCT=90
LIVE_READ_CACHE_TTL_MS=30000

